
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to RePast</h1>
    <p class="lead">Where family recipes are shared for generations.</p>
  </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 style="text-align: center;">Here are some of our recipes</h2>
      </div>
    </div>
  <div class="row">
    <% @recipes.each do |recipe| %>
    <div class="card" style="width: 18rem; ">
      <div class="card-body">
        <h3 class="card-title"><%= recipe.name %></h3>
        <p>by:&nbsp<%= recipe.owner %></p>
        <p>Category:&nbsp <%= recipe.category %></p>
        <p>Serves:&nbsp <%= recipe.serves %></p>
        <p class="card-text"><%= recipe.contents %></p>
        <a href="#" class="btn btn-primary">Click for full instructions</a>
      </div>
    </div>
    <% end %>
  </div>
</div>
